 .header {
   display: flex;
   /* background-color: rgba(185, 217, 243, 0.5); */
   background-color: #fff;
   flex-direction: column;
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
   padding: 0 50px;
   transition: all 0.5s;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 120px;
 }

 .header.scrolled {
   background-color: #fff;
   height: 100px;
   box-shadow: 0 0 10px rgba(93, 187, 230, 0.5);
 }

 @keyframes fadein {
   from {
     opacity: 0;
   }

   to {
     opacity: 1;
   }
 }